// Table Styling
.md-typeset table:not([class]) {
    display: inline-block;
    max-width: 100%;
    overflow: auto;
    font-size: .64rem;
    background-color: var(--md-default-bg-color);
    border-radius: 0.3 rem;
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 5%), 0 0 0.05rem rgb(0 0 0 / 10%) !important;
    touch-action: auto;
}


.md-typeset table:not([class]) {
    display: inline-block;
    max-width: 100%;
    overflow: auto;
    font-size: .64rem;
    background-color: var(--md-default-bg-color);
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 5%), 0 0 0.05rem rgb(0 0 0 / 10%);
    touch-action: auto;
}


.md-typeset table:not([class]) th {
    min-width: 5rem;
    padding: 0.9375em 1.25em;
    color: var(--md-default-bg-color);
    vertical-align: top;
    background-color: var(--md-default-fg-color--light);
}


#report {
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: .75em;
	background-color: #da4f49;
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background-repeat: repeat-x;
	box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
}

#upload {
	margin: 0;
    padding: 6px 25px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: #000;
    border: 1px solid #000;
    border-color: rgba(0,0,0,.6);
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    font-size: 10px;
    font-weight: 800;
    color: #fff;
    color: rgba(255,255,255,.8);
    font-family: bebasregular,Arial,Helvetica,sans-serif;
    -moz-box-shadow: 0 1px 10px 2px rgba(0,0,0,.6),inset 0 20px 40px rgba(255,255,255,.15),inset 0 0 4px rgba(255,255,255,.3);
    -webkit-box-shadow: 0 1px 10px 2px rgb(0 0 0 / 60%), inset 0 20px 40px rgb(255 255 255 / 15%), inset 0 0 4px rgb(255 255 255 / 30%);
    box-shadow: 0 1px 10px 2px rgb(0 0 0 / 60%), inset 0 20px 40px rgb(255 255 255 / 15%), inset 0 0 4px rgb(255 255 255 / 30%);
}


#up-image {
    width: 400px;
    height: auto;
}

#logo-hover:hover {
    background: url("../assets/images/sizing-template-logo-h.png") no-repeat;
}        

.md-typeset__scrollwrap {
    overflow-x:  inherit;
}